#{extends 'main.html' /}
#{set title: 'Add day' /}

<h1>
&{'AddDay'}    
</h1>

<h2>
&{'Year'}: ${year}
</h2>

<div class="downlink">
<ul>
<li>
<a href="@{listYear(year)}">&{'ListYear'}</a>
</li>
<li>
<a href="@{listHolidays()}">&{'Back'}</a>
</li>
<ul>
</div>

<div class="saveedit">
#{form @saveDay()}
    <label for="day">&{'Day'}</label>
    <input id="day" type="text" name="day"  />
    <span class="error">#{error 'day' /}</span>
    <br />
    
     <input type="hidden" name="year" value="${year}">
    <input onClick="saved()" class="submitbutton" type="submit" value="&{'Save'}" /><br />

#{/form}
</div>
