#{extends 'main.html' /}
#{set title: 'Add Year' /}

<h3>&{'Addyear'}</h3>



<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{listHolidays()}"><i class="icon-list icon-white"></i> &{'ListHolidays'}</a></li>
		<ul>
	</div>
</div>


<div class="form-horizontal">   
#{form @saveYear()}


    <div class="control-group">
        <label class="control-label" for="year">&{'Year'}</label>
        <div class="controls">    
            <input id="year" type="text" name="year"  placeholder="&{''}"/>
            <span class="error">#{error 'year' /}</span>
        </div>
    </div> 
    
    <div class="control-group">
        <div class="controls">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>
    
#{/form}
</div>
