#{extends 'main.html' /}
#{set title: 'List hosts' /}

<h3>&{'NewDay'}</h3>
<h4>&{'Year'} : ${year}</h4>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{listYear(year)}"><i class="icon-list icon-white"></i> &{'ListYear'}</a></li>
		<ul>
	</div>
</div>

<div class="form-horizontal">   
#{form @saveDay()}

    <div class="control-group">
        <label class="control-label" for="day">&{'Day'}</label>
        <div class="controls">    
            <input id="day" type="text" name="day" value="${day}"  />
            <span class="error">#{error 'day' /}</span>
        </div>
    </div> 
    
    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="year" value="${year}">
            <input type="hidden" name="oldday" value="${day}">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>                
    
#{/form}
</div>
