#{extends 'main.html' /}
#{set title: 'Edit hour' /}


                
#{if hourdef}
<h1>
&{'EditHours'}    
</h1>

<h2>
&{'HourID'}: ${hourdef.ID}
</h2>

<table class="listtable">
    <caption>&{'UsedIn'}</caption>
    <tbody>
    #{list hour2def, as:'servicedef'}
        
        <tr>
            <td><a href="@{editServiceDefs(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname)}">${servicedef.hostname} &#8658; ${servicedef.servicename} &#8658; ${servicedef.serviceitemname}</a></td>
        </tr> 
                           
    #{/list}
    </tbody>
</table>



<!-- ${hourdef.getTypeOfHour().toString()} -->
#{if hourdef.getTypeOfHour().toString() == 'HOUR24'}

<div class="downlink">
<ul>
<li>
<a href="@{listHours()}">&{'ListHours'}</a>
</li>
<li>
<a href="@{index()}">&{'Back'}</a>
</li>
<ul>
</div>


<div class="edithour">
#{form @Twenty4Threshold.saveHour()}
    
    <!-- ${hourCounter=new Integer(0)} -->

    #{list hourdef.getHour24(), as:'hour'}
        #{if hourCounter < 10}
            <a name="0${hourCounter}"/>
            0${hourCounter}: <input type="text" name="0${hourCounter++}" value="${hour}" /> <br />                            
        #{/if}
        #{else}                                
            <a name="0${hourCounter}"/>
            ${hourCounter}: <input type="text" name="${hourCounter++}" value="${hour}" /> <br />
        #{/else}
    #{/list}
    <input type="hidden" name="hourid" value="${hourdef.ID}" />
                    
    <input class="submitbutton" type="submit" value="&{'Save'}" /><br />

#{/form}
</div>
#{/if}

#{if hourdef.getTypeOfHour().toString() == 'HOURINTERVAL'}
<div class="downlink">
<ul>
<li>
<a href="@{addHourInterval(hourdef.ID)}">&{'AddHourinterval'}</a>
</li>
<li>
<a href="@{listHours()}">&{'ListHours'}</a>
</li>
<li>
<a href="@{index()}">&{'Back'}</a>
</li>
<ul>
</div>

<div class="edithour">


    <table class="listtable">
        <thead>
            <tr>
                <th>&{'From'}</th>
                <th>&{'To'}</th>
                <th>&{'Threshold'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list hourdef.getHourInterval(), as:'hour'}
                <tr>
                    <td>${hour.getFrom()}</td>
                    <td>${hour.getTo()}</td>
                    <td>${hour.getThreshold()}</td>
                    <td>
                        <a href="@{editHourInterval(hourdef.ID, hour)}">&{'Edit'}</a>
                        <a href="@{deleteHourInterval(hourdef.ID, hour)}">&{'Delete'}</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    


</div>
#{/if}

#{/if}

