#{extends 'main.html' /}
#{set title: 'Edit servicedefs' /}

<h3>
&{'EditServicedefs'}
</h3>

<h4>
     <a href="@{Bischeck.edithost(servicedef.hostname)}">${servicedef.hostname}</a>
     &#8658; 
     <a href="@{Bischeck.editservice(servicedef.hostname,servicedef.servicename)}">${servicedef.servicename}</a>
     &#8658; 
     <a href="@{Bischeck.editserviceitem(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname)}">${servicedef.serviceitemname}</a>
</h4>
    
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
            <a href="@{addPeriod(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname)}"><i class="icon-plus icon-white"></i> &{'Add'}</a>
            </li>
            <li>
            <a href="@{listServiceDefs()}">&{'ListServiceDefs'}</a>
            </li>
        <ul>
    </div>
</div>
 
#{if hashperiod}
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th style="width: 20%">&{'Periods'}</th>
                <th style="width: 10%">&{'PeriodData'}</th>
                <th style="width: 55%">&{'Hour'}</th>
                <th style="width: 5%">&{'Action'}</th>
                *{ <th style="width: 0%">&{'Hash'}</th> }*
            </tr>
        </thead>
        <tbody>
            
            #{list items:hashperiod.keySet(), as:'period'}
                <tr>
                    
                    <td>
                    <!--  The period table - Start -->                     
                    <table>
                        
                        <thead>
                            <tr>
                                <th style="width: 40%">&{'Month'}</th>
                                <th style="width: 40%">&{'DayOfMonth'}</th>
                                <th style="width: 20%">&{'Action'}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            
                
                            <tr>
                        
                            #{form @Twenty4Threshold.addPeriodMonth()}
                            <td>
                        
                            <select class="input-small"  name="month">
                                <option value="any">&{'Any'}</option>
                                #{list items:1..12, as:'i'}
                                    <option value="${i}">${i}</option>
                                #{/list}
                            </select>
                        
                            </td><td>
                        
                            <select class="input-small" name="dayofmonth">
                                <option value="any">&{'Any'}</option>
                                #{list items:1..31, as:'i'}
                                    <option value="${i}">${i}</option>
                                #{/list}
                            </select>
                        
                            </td><td>
                        
                            <input type="hidden" name="periodindex" value="${period}" />
                            <input type="hidden" name="hostname" value="${servicedef.hostname}" />
                            <input type="hidden" name="servicename" value="${servicedef.servicename}" />
                            <input type="hidden" name="serviceitemname" value="${servicedef.serviceitemname}" />
                        
                            <input class="periodbutton" type="submit" value="&{'Add'}" /><br />
                        
                            </td>
                        
                            #{/form}
                            
                            </tr>
                            #{list hashperiod.get(period).months, as:'month'}
                            <tr>
                                <td>
                                    ${month.month}
                                </td>
                                <td>
                                    ${month.dayofmonth}
                                </td>
                                <td> 
                                <a href="@{deletePeriodMonth(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname,period,month.month,month.dayofmonth)}">&{'Delete'}</a>
                                </td>
                            </tr>
                            #{/list}
                        
                        </tbody>
                                                     
                   </table>
                     
                   <table>
                        <thead>
                            <tr>
                                <th>&{'Week'}</th>
                                <th>&{'DayOfWeek'}</th>
                                <th>&{'Action'}</th>
                            </tr>
                        </thead>
                        <tbody>
                
                        
                            <tr>

                    
                            #{form @Twenty4Threshold.addPeriodWeek()}

                            <td>    
                            <select class="input-small" name="week">
                                <option value="any">&{'Any'}</option>
                                #{list items:1..53, as:'i'}
                                    <option value="${i}">${i}</option>
                                #{/list}
                            </select>
                            </td><td>
                            
                            <select class="input-small" name="dayofweek">
                                <option value="any">&{'Any'}</option>
                                    <option value="1">&{'Sunday'}</option>
                                    <option value="2">&{'Monday'}</option>
                                    <option value="3">&{'Tuesday'}</option>
                                    <option value="4">&{'Wednesday'}</option>
                                    <option value="5">&{'Thursday'}</option>
                                    <option value="6">&{'Friday'}</option>
                                    <option value="7">&{'Saturday'}</option>
                            </select>
                            </td>
                        
                            <td> 
                            <input type="hidden" name="periodindex" value="${period}" />
                            <input type="hidden" name="hostname" value="${servicedef.hostname}" />
                            <input type="hidden" name="servicename" value="${servicedef.servicename}" />
                            <input type="hidden" name="serviceitemname" value="${servicedef.serviceitemname}" />
                        
                            <input class="periodbutton" type="submit" value="&{'Add'}" /><br />
                            </td>
                            
                            #{/form}               
                            
                    
                            </tr>    
                            #{list hashperiod.get(period).weeks, as:'week'}
                
                            <tr>
                                <td>
                                    ${week.week}
                                </td>
                                <td>
                                    #{if week.dayofweek}
                                    #{if week.dayofweek-1 == 0}
                                        &{'Sunday'}
                                    #{/if}
                                    #{if week.dayofweek-1 == 1}
                                        &{'Monday'}
                                    #{/if}
                                    #{if week.dayofweek-1 == 2}
                                        &{'Tuesday'}
                                    #{/if}
                                    #{if week.dayofweek-1 == 3}
                                        &{'Wednesday'}
                                    #{/if}
                                    #{if week.dayofweek-1 == 4}
                                        &{'Thursday'}
                                    #{/if}
                                    #{if week.dayofweek-1 == 5}
                                        &{'Friday'}
                                    #{/if}
                                    #{if week.dayofweek-1 == 6}
                                        &{'Saturday'}
                                    #{/if}
                                    #{/if}
                                </td>
                                <td> 
                                <a href="@{deletePeriodWeek(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname,period,week.week,week.dayofweek)}">&{'Delete'}</a>
                                </td>
                            </tr>
                            #{/list}

                        <tbody>
                             
                    </table>
                   <!--  The period table - end -->                     
                   
                    
                    </td>
                    
                    <td>
                    #{form @Twenty4Threshold.savePeriodData()}
                    <fieldset>
                       
                        <label for="calcmethod"><strong>&{'CalcMetod'}</strong></label>
                        <select class="input-mini" id="calcmethod" name="calcmethod">
                            <option value="${hashperiod.get(period).calcmethod}">${hashperiod.get(period).calcmethod}</option>
                            
                                <option value="&gt;">&gt;</option>
                                <option value="&lt;">&lt;</option>
                                <option value="=">=</option>
                            
                        </select>
                        
                        <label for="warning"><strong>&{'Warning'}</strong></label>
                        <input class="input-mini" id="warning" type="text" name="warning" value="${hashperiod.get(period).warning}" />
                        
                        #{if flash.errperiod}
                            <!-- ${err=new Integer(flash.errperiod)}  -->
                            #{if err == period }
                            <span class="error">#{error 'warningerror' /}</span>
                            #{/if}
                        #{/if}
                        
                        <label for="critical"><strong>&{'Critical'}</strong></label>
                        <input class="input-mini" id="critical" type="text" name="critical" value="${hashperiod.get(period).critical}" /> 
                        #{if flash.errperiod}
                            <!-- ${err=new Integer(flash.errperiod)}  -->
                            #{if err == period }
                            <span class="error">#{error 'criticalerror' /}</span>
                            #{/if}
                        #{/if}
                        
                        <input type="hidden" name="periodindex" value="${period}" />
                        <input type="hidden" name="hostname" value="${servicedef.hostname}" />
                        <input type="hidden" name="servicename" value="${servicedef.servicename}" />
                        <input type="hidden" name="serviceitemname" value="${servicedef.serviceitemname}" />
                    
                        <input class="submitbutton" type="submit" value="&{'Save'}" /><br />
                    </fieldset>
                    #{/form}
                    </td>
        
                            
                    <!-- CHECK THE HOUR FORMAT -->    
                    <td>
                        <!-- ${hourCounter=new Integer(0)} -->
                        
                        #{if hours.get(hashperiod.get(period).hoursIDREF) == null}
                        <!-- ${currentHour=new String(" - ")} -->
                        #{/if}
                        #{else}
                        #{if hours.get(hashperiod.get(period).hoursIDREF).getTypeOfHour().toString() == 'HOUR24'}
                        <!-- ${currentHour=hashperiod.get(period).hoursIDREF} -->
                        <table class="hour">
                        #{list hours.get(hashperiod.get(period).hoursIDREF).getHour24(), as:'hour'}
                            <tr>
                                #{if hourCounter < 10}
                                    <td>0${hourCounter++}</td><td>${hour} </td>
                                #{/if}
                                #{else}
                                    <td>${hourCounter++}</td><td>${hour} </td>
                                #{/else}
                            <tr>
                        #{/list}
                        </table>
                        
                        #{/if}
                        
                        #{if hours.get(hashperiod.get(period).hoursIDREF).getTypeOfHour().toString() == 'HOURINTERVAL'}
                        <!-- ${currentHour=hashperiod.get(period).hoursIDREF} -->
                        <table class="hour">
                        #{list hours.get(hashperiod.get(period).hoursIDREF).getHourInterval(), as:'hour'}
                            <tr>
        
                                    <td>${hour.getFrom()} - ${hour.getTo()}</td><td>${hour.getThreshold()} </td>
                                
                            <tr>
                        #{/list}
                        </table>
                        
                        #{/if}
                        #{/else}
                        #{form @Twenty4Threshold.selectHourID()}
                        <fieldset>
                                            
                        <label for="hourid"><strong>&{'HourID'}</strong></label>
                        <select class="input-mini" id="hourid" name="hourid">
                            <option value="${currentHour}" >${currentHour}</option>
                            #{list allhourids, as: 'hour'}
                                <option value="${hour}">${hour}</option>
                            #{/list}
                        </select>
                        <br />
                        <input type="hidden" name="periodindex" value="${period}" />
                        <input type="hidden" name="hostname" value="${servicedef.hostname}" />
                        <input type="hidden" name="servicename" value="${servicedef.servicename}" />
                        <input type="hidden" name="serviceitemname" value="${servicedef.serviceitemname}" />
                        <input class="submitbutton" type="submit" value="&{'Select'}" /><br />
                        </fieldset>
                    
                         #{/form}
                         <a href="@{editHour(hashperiod.get(period).hoursIDREF)}">&{'Edit'}</a>
                                            
                    </td>
                *{    <td>${hashperiod.get(period).critical}</td> }*
                *{    <td>${hashperiod.get(period).hoursIDREF}</td> }*
                    
                    <td>
                        <a href="@{deletePeriod(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname,period)}">&{'Delete'}</a>
                    </td>
                *{      <td>    }*
                *{     ${period}}*
                *{     </td>    }*
                </tr>
                
            
            #{/list}
        </tbody>
    </table>
    

#{/if}
#{else}
<p>
&{'ServiceDefDoNotExist'}
</p>
#{/else}
