#{extends 'main.html' /}
#{set title: 'Edit hour' /}


                
<h3>
&{'EditHours'}    
</h3>

<h4>
&{'HourID'}: ${hourdef.ID}
</h4>

<table class="table">
    <caption>&{'UsedIn'}</caption>
    <tbody>
    #{list hour2def, as:'servicedef'}
        
        <tr>
            <td><a href="@{editServiceDefs(servicedef.hostname,servicedef.servicename,servicedef.serviceitemname)}">${servicedef.hostname} &#8658; ${servicedef.servicename} &#8658; ${servicedef.serviceitemname}</a></td>
        </tr> 
                           
    #{/list}
    </tbody>
</table>



<!-- ${hourdef.getTypeOfHour().toString()} -->
#{if hourdef.getTypeOfHour().toString() == 'HOUR24'}

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{listHours()}"><i class="icon-list icon-white"></i> &{'ListHours'}</a></li>
			<li><a href="@{index()}">&{'Back'}</a></li>
		<ul>
	</div>
<div>
<br>

<div class="form-horizontal">	
#{form @Twenty4Threshold.saveHour()}

    <!-- ${hourCounter=new Integer(0)} -->
    #{list hourdef.getHour24(), as:'hour'} 
	   #{if hourCounter < 10} 
            <div class="control-group">
            <label class="control-label" for="0${hourCounter}">0${hourCounter}</label>
                <div class="controls">	  
		          <input type="text" name="0${hourCounter++}" value="${hour}" />
		        </div>
            </div> 
	   #{/if} 
	   #{else} 
	       <div class="control-group">
           <label class="control-label" for="${hourCounter}">${hourCounter}</label>
                <div class="controls">    
                    <input type="text" name="${hourCounter++}" value="${hour}" />
                </div>
            </div>  
	   #{/else} 
	#{/list}
		
		
    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="hourid" value="${hourdef.ID}" /> 
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>                
    
#{/form}
</div>
#{/if} 


#{if hourdef.getTypeOfHour().toString() == 'HOURINTERVAL'}
<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{addHourInterval(hourdef.ID)}">&{'AddHourinterval'}</a>
			</li>
			<li><a href="@{listHours()}">&{'ListHours'}</a></li>
			<li><a href="@{index()}">&{'Back'}</a></li>
		<ul>
	</div>
</div>



    <table class="table">
        <thead>
            <tr>
                <th>&{'From'}</th>
                <th>&{'To'}</th>
                <th>&{'Threshold'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list hourdef.getHourInterval(), as:'hour'}
                <tr>
                    <td>${hour.getFrom()}</td>
                    <td>${hour.getTo()}</td>
                    <td>${hour.getThreshold()}</td>
                    <td>
                        <a href="@{editHourInterval(hourdef.ID, hour)}">&{'Edit'}</a>
                        <a href="@{deleteHourInterval(hourdef.ID, hour)}">&{'Delete'}</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    


#{/if}


