#{extends 'main.html' /}
#{set title: 'Hours' /}

<h1>
&{'ListHours'}    
</h1>

<div class="downlink">
<ul>
<li>
<a href="@{addHour()}">&{'Add'}</a>
</li>
<li>
<a href="@{index()}">&{'Back'}</a>
</li>
<ul>
</div>

#{if hour2def}
    <table class="listtable" frame="hsides" border="1">
        <thead>
            <tr>
                <th>&{'HourId'}</th>
                <th>&{'UsedIn'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list hour2def, as:'hour'}
                <tr>
                    <td>${hour.key}</td>
                    <td>
                        
                        #{list hour.value, as:'def'}
                        <a href="@{editServiceDefs(def.hostname,def.servicename,def.serviceitemname)}">
                        ${def.hostname} &#8658; ${def.servicename} &#8658; ${def.serviceitemname}</a>
                        <br />
                        #{/list} 
                        
                    </td>
                    
                    <td>
                    
                        <a href="@{editHour(hour.key)}">&{'Edit'}</a>
                        #{if (hour2def.get(hour.key)).size() == 0 }
                            <a href="@{deleteHour(hour.key)}">&{'Delete'}</a>
                        #{/if}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}

