#{extends 'main.html' /}
#{set title: 'Holidays' /}

<h3>&{'ListHolidays'}</h3>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{addYear()}"><i class="icon-plus icon-white"></i> &{'AddYear'}</a></li>
			<li><a href="@{index()}">&{'Back'}</a></li>
        <ul>
	</div>
</div>

#{if holidays}
    <table class="table">
        <thead>
            <tr>
                <th>&{'Year'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list holidays, as:'holiday'}
                <tr>
                    <td>${holiday.year}</td>
                    <td>
                        <a href="@{listYear(holiday.year)}">&{'Edit'}</a>
                        <a href="@{deleteYear(holiday.year)}">&{'Delete'}</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}
