#{extends 'main.html' /}
#{set title: 'Holidays' /}

<h1>
&{'ListHolidays'}    
</h1>

<div class="downlink">
<ul>
<li>
<a href="@{addYear()}">&{'Add'}</a>
</li>
<li>
<a href="@{index()}">&{'Back'}</a>
</li>
<ul>
</div>

#{if holidays}
    <table class="listtable">
        <thead>
            <tr>
                <th>&{'Year'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list holidays, as:'holiday'}
                <tr>
                    <td>${holiday.year}</td>
                    <td>
                        <a href="@{listYear(holiday.year)}">&{'Edit'}</a>
                        <a href="@{deleteYear(holiday.year)}">&{'Delete'}</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}
