#{extends 'main.html' /}
#{set title: 'Hours' /}

<h3>&{'ListHours'}</h3>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{addHour()}"><i class="icon-plus icon-white"></i> &{'Add'}</a></li>
			<li><a href="@{newHourInterval()}"><i class="icon-plus icon-white"></i> &{'AddInterval'}</a></li>
			<li><a href="@{index()}"><i class="icon-step-backward icon-white"></i> &{'Back'}</a></li>
			<ul>
	</div>
</div>

#{if hour2def}
    <table class="table" >
        <thead>
            <tr>
                <th>&{'HourID'}</th>
                <th>&{'UsedIn'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list hour2def, as:'hour'}
                <tr>
                    <td>${hour.key}</td>
                    <td>
                        
                        #{list hour.value, as:'def'}
                        <a href="@{editServiceDefs(def.hostname,def.servicename,def.serviceitemname)}">
                        ${def.hostname} &#8658; ${def.servicename} &#8658; ${def.serviceitemname}</a>
                        <br />
                        #{/list} 
                        
                    </td>
                    
                    <td>
                    
                        <a href="@{editHour(hour.key)}">&{'Edit'}</a>
                        #{if (hour2def.get(hour.key)).size() == 0 }
                            <a href="@{deleteHour(hour.key)}">&{'Delete'}</a>
                        #{/if}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}

