/** Main layout **/

html, body {
    background:  #cdd2d9 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/
/** A little hacky to create arrows without images **/
.about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #BAC36E;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 60px;
}

/** Form **/


/** Admin **/

.tags-list .tag {
    cursor: pointer;
    color: red;
}

#adminMenu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#adminMenu li {
    display: inline;
}

#adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    background: #591C64;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#adminMenu li.selected a {
    background: #82A346;
}

#crudContent {
    color: #8B98AD;
}

#crudContent h2 {
    color: #EDC3CD !important;
}

#crudContent thead tr {
    background: #512162 !important;
}

#crudContent table {
    border: none !important;
}

#crudContent table td {
    color: #444;
}

tr.odd {
    background: #BECCE7 !important;
}

#crud #crudContent, #crudContent form, #crudListSearch, #crudListPagination, .crudButtons {
    background: transparent;
    border: none;
    padding: 0;
}

#crudListTable {
    margin: 10px 0;
}

.crudField, .objectForm {
    border: none;
    padding-left: 0;
}

.crudField label {
    color: #B8FA5C;
}

.crudHelp {
    color: #fff !important;
}

.crudField .tag {
    color: #111;
    font-size: 80%;
}

.crudButtons input {
    font-size: 110%;
}

.crudButtons {
    margin-top: 20px;
    border-top: 1px dotted #8B98AD;
    padding-top: 10px;
}

.crudFlash {
    border: 0;
    -webkit-border-radius: 8px;
    font-size: 80%;
    padding: 2px 10px;
}

.crudField .tag.selected {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.crudField .error {
    background: transparent;
    border: none;
    padding: 0;
    color: pink;
    -webkit-box-shadow: none;
}

/** Login **/

#login form {
    background: #8B98AD !important;
    border: 0 !important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
    color: #161D28 !important;
    font-size: 110% !important;
}


#remember-field {
    display: none;
}


/** AHA **/
/*************
 * Main layout 
 */

html, body {
    background:  #cdd2d9 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}


/*******
 * Links 
 */

a:link {
    color: #6479A0;
}

a:visited {
    color: #6479A0;
}

a:active {
    color: #E03A3E;
}

a:hover {
    color: #E03A3E;
}

/****************** 
 * The return links 
 */
.downlink {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: normal;

	//color: #ccc;
	color: #B77070;
    background-color: #009980;
	//background-color: #FFD062;
	padding: 3px;
	margin-bottom: 0px;
	}

.downlink ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
	} 

.downlink ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}
	
	
.downlink a:link {
    color: #000000;
}

.downlink a:visited {
    color: #000000;
}

.downlink a:active {
    color: #E03A3E;
}

.downlink a:hover {
    color: #E03A3E;
}

/****************** 
 * The index list 
 */
.indexlist {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: normal;

    color: #000000;
    //background-color: #FFD062;
    padding: 3px;
    margin-bottom: 0px;
    }

.indexlist ul {
    margin-left: 20px;
    padding-left: 20px;
    //display: inline;
    //border: none;
} 

.indexlist ul li {
    margin-left: 0;
    padding-left: 10px;
    //border: none;
    list-style: square;
    //display: inline;
}
    
    
.indexlist a:link {
    color: #000000;
}

.indexlist a:visited {
    color: #000000;
}

.indexlist a:active {
    color: #E03A3E;
}

.indexlist a:hover {
    color: #E03A3E;
}


h1 {
font-family: verdana,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

h2 {
font-family: verdana,arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/*********************************
 * The save and edit and save form
 */
.saveedit form {

    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    /
    padding: 10px;
    background: #9ba6b3;
    //background: -webkit-gradient(linear, left top, left 60%, from(#9ba6b3), to(#9ba6b3));
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    
}

.saveedit form p {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.saveedit br{
    //clear: left;
    margin: 3px;
}

.saveedit form textarea {
    width: 70%;
    height: 50px;
}


.saveedit  form input, form textarea {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    width: 300px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 5px 0 0 0;
}

.saveedit form label {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    //font-weight:bold;
    
    
    width: 150px;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
        margin: 5px 0 0 0;
}

.saveedit form .submitbutton {
    
    margin-left: 75px;
    width: 75px;
    color: #000;
    //background: #ffa20f;
    background: #669900;
    border: 2px outset #d7b9c9
    

}

.saveedit form .radio input {
    //margin-right: 15px;
    width: 50px;
}

/*********************************
 * The table used for listing hosts, service and serviceitems
 */
table.listtable  {
    border-collapse:collapse;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
}

table.listtable  td {
    padding: 4px;   
}

// Separator marker in listing table
tr.separator {
    height: 2px;
    background-color: #000000;
}


/*********************************
 * The top menu header
 */
.header {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: normal;

    color: #000000;
    //background-color: #FFD062;
    background-color: #009980;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    
    
    }

.header ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none;
    } 

.header ul li {
    margin-left: 0;
    padding-left: 2px;
    border: none;
    list-style: none;
    display: inline;
    }
    
    
.header a:link {
    color: #000000;
}

.header a:visited {
    color: #000000;
}

.header a:active {
    color: #E03A3E;
}

.header a:hover {
    color: #E03A3E;
}

/** Footer **/

.footer {
    font-family: verdana,arial,sans-serif;
    font-size: 8px;
    font-weight: normal;

    border-top: 1px solid #45597A;
    //font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

.footer a:link {
    color: #869AB1;
    font-weight: bold;
}
.footer a:visited {
    color: #869AB1;
    font-weight: bold;
}

table.periods  {
    border-collapse:collapse;
    font-family: verdana,arial,sans-serif;
}

table.periods  th
{
    font-size:14px;
    background-color: #869AB1;
    border:0px solid black;
}

table.periods td
{
   font-size:12px;
   border:1px solid black;
   
}

table.period  {
    border-collapse:collapse;
    font-family: verdana,arial,sans-serif;
}

table.period th
{
    font-size:12px;
    background-color: #869AB1;
    border:2px solid black;
}

table.period td
{
   padding: 1px 25px;
   font-size:10px;
   border:2px solid black;   
}

table.hour  {
    border-collapse:collapse;
    font-family: verdana,arial,sans-serif;
}

table.hour th
{
    font-size:10px;
    background-color: #869AB1;
    border:0px solid black;
}

table.hour td
{ 
   padding: 5px 25px;
   
   font-size:10px;
   border:1px solid black;
   
}

.selectperiod  {
    font-family: verdana,arial,sans-serif;
    font-size: 10px;
}

.periodbutton {
    font-family: verdana,arial,sans-serif;
    font-size: 10px;
    //margin-left: 75px;
    //width: 75px;
    color: #000;
    //background: #ffa20f;
    background: #669900;
    border: 2px outset #d7b9c9
    

}


/*********************************
 * The save and edit and save form
 */
.periodedit form {

    font-family: verdana,arial,sans-serif;
    font-size: 10px;
    //
    //padding: 10px;
    background: #9ba6b3;
    //background: -webkit-gradient(linear, left top, left 60%, from(#9ba6b3), to(#9ba6b3));
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    
}

.periodedit form p {
    //font-family: verdana,arial,sans-serif;
    //font-size: 8px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.periodedit br{
    //clear: left;
    margin: 3px;
}

.periodedit form textarea {
    width: 70%;
    height: 50px;
}


.periodedit  form input, form textarea {
    //font-family: verdana,arial,sans-serif;
    font-size: 10px;
    width: 30px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 5px 0 0 0;
}

.periodedit  form select {
    //font-family: verdana,arial,sans-serif;
    font-size: 10px;
    width: 30px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 5px 0 0 0;
}


.periodedit form label {
    //font-family: verdana,arial,sans-serif;
    //font-size: 14px;
    //font-weight:bold;
    
    width: 60px;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
        margin: 5px 0 0 0;
}

.periodedit form .submitbutton {
    
    margin-left: 30px;
    width: 60px;
    color: #000;
    //background: #ffa20f;
    background: #669900;
    border: 2px outset #d7b9c9
    

}

.periodedit form .radio input {
    //margin-right: 15px;
    width: 50px;
}

.hourselect form {

    font-family: verdana,arial,sans-serif;
    font-size: 10px;
    width: 110px;
    padding: 10px;
    background: #9ba6b3;
    //background: -webkit-gradient(linear, left top, left 60%, from(#9ba6b3), to(#9ba6b3));
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    
    
}
.hourselect form label {
    //font-family: verdana,arial,sans-serif;
    //font-size: 14px;
    //font-weight:bold;
    
    //width: 60px;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
        margin: 5px 0 0 0;
}

.hourselect form select {
    font-family: verdana,arial,sans-serif;
    font-size: 10px;
 
    //margin-left: 30px;
    width: 40px;
 
}
.hourselect form .submitbutton {
    font-size: 10px;
    
    margin-left: 20px;
    width: 50px;
    color: #000;
    //background: #ffa20f;
    background: #669900;
    border: 2px outset #d7b9c9
}

.edithour form {

    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    //
    margin: 30px;
    padding: 20px;
    background: #9ba6b3;
    //background: -webkit-gradient(linear, left top, left 60%, from(#9ba6b3), to(#9ba6b3));
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

.edithour br{
    //clear: left;
    margin: 3px;
}


.edithour  form input, form textarea, form select {
    //font-family: verdana,arial,sans-serif;
    font-size: 14px;
    width: 700px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 1px 0 0 0;
}

.edithour form .submitbutton {
    
    margin-left: 30px;
    width: 60px;
    color: #000;
    background: #669900;
    border: 2px outset #d7b9c9
    

}


.edithourinterval form {

    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    //
    margin: 30px;
    padding: 20px;
    background: #9ba6b3;
    //background: -webkit-gradient(linear, left top, left 60%, from(#9ba6b3), to(#9ba6b3));
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

.edithourinterval br{
    //clear: left;
    margin: 3px;
}


.edithourinterval  form input, form textarea, form select {
    //font-family: verdana,arial,sans-serif;
    font-size: 14px;
    width: 700px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 1px 0 0 0;
}

.edithourinterval form .submitbutton {
    
    margin-left: 30px;
    width: 60px;
    color: #000;
    background: #669900;
    border: 2px outset #d7b9c9
    

}


#passwordMatch {
    margin-left: 70px;
}


.error {
    background: red;
    }
    
    
    
.scheduleform form {

    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    /
    padding: 10px;
    background: #9ba6b3;
    //background: -webkit-gradient(linear, left top, left 60%, from(#9ba6b3), to(#9ba6b3));
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    
}

.scheduleform form p {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.scheduleform br{
    //clear: left;
    margin: 3px;
}

.scheduleform form textarea {
    width: 70%;
    height: 50px;
}


.scheduleform  form input, form textarea {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    width: 200px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 5px 0 0 0;
}

.scheduleform  form select {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    width: 100px;

    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
    margin: 5px 0 0 0;
}


.scheduleform form label {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    //font-weight:bold;
    
    
    width: 150px;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
        margin: 5px 0 0 0;
}

.scheduleform form .submitbutton {
    
    margin-left: 75px;
    width: 75px;
    color: #000;
    background: #669900;
    border: 2px outset #d7b9c9
    

}

.scheduleform form .radio input {
    //margin-right: 15px;
    width: 50px;
}
    
