#{extends 'main.html' /}
#{set title: 'Add servers' /}

<h3>&{'AddServer'}</h3>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="@{Servers.list()}"><i class="icon-list icon-white"></i> &{'ListServers'}</a></li>
        </ul>
    </div>
</div>

<div class="form-horizontal">
#{form @Servers.save()} 
    <div class="control-group">
	   <label class="control-label" for="servername">&{'Servername'}</label>
       <div class="controls">
		  <input id="servername" type="text" name="servername" /> 
		  <span class="error">#{error 'servername' /}</span>
	   </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="classname">&{'Classname'}</label>
        <div class="controls">
            <select id="classname" name="classname">
            #{list serverclasses, as: 'clazz'}
                <option value="${clazz}">${clazz}</option>
            #{/list}
            </select>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>
       

    #{/form}
</div>