#{extends 'main.html' /}
#{set title:'Add property' /}

<h3>&{'AddServerProperty'}</h3>

<h4>${servername}</h4>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{Servers.edit(servername)}">&{'EditServer'}</a></li>
		</ul>
	</div>
</div>


<div class="form-inline">
#{form @Servers.saveProperty()}
<input type="text" class="input-small" name="key" placeholder="&{'Key'}"> 
    <input type="text" class="input-small" name="value" placeholder="&{'Value'}"> 
    <input type="hidden" name="servername" value="${servername}" />
    <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />    
#{/form}
</div>
