#{extends 'main.html' /}
#{set title:'Edit property' /}

<h1>
&{'EditServerProperty'}
</h1>

<h2>
${servername}
</h2>


<div class="downlink">
<ul>
<li>
<a href="@{Servers.edit(servername)}">&{'Edit'}</a>
</li>
</ul>
</div>

<div class="saveedit">

#{form @Servers.saveProperty()}
    <label for="value">${key}</label>
    <input id="value" type="text" name="value" value="${value}" />
    <br />
    
    <input type="hidden" name="key" value="${key}" />
    <input type="hidden" name="servername" value="${servername}" />
    <input  onClick="saved()" class="submitbutton" type="submit" value="&{'Save'}" /><br />

#{/form}
</div>