#{extends 'main.html' /}
#{set title:'Edit property' /}

<h3>&{'EditServerProperty'}</h3>

<h4>${servername}</h4>


<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{Servers.edit(servername)}"><i class="icon-step-backward icon-white"></i> &{'BackToServer'}</a></li>
		</ul>
	</div>
</div>

<div class="form-inline">
#{form @Servers.saveProperty()}
    <label for="value">${key}</label> 
    <input id="value" type="text" name="value" value="${value}" /> 
    <input type="hidden" name="key" value="${key}" /> 
    <input type="hidden" name="servername" value="${servername}" />
    <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" /> 
#{/form}
</div>