#{extends 'main.html' /}
#{set title: 'List servers' /}

<h3>&{'ListServers'}</h3>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{add()}"><i class="icon-plus icon-white"></i> &{'Add'}</a></li>
		</ul>
	</div>
</div>



#{if servers}
    <table class="table">
        <thead>
            <tr>
                <th>&{'Server'}</th>
                
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list servers, as:'server'}
                <tr>
                    <td>${server.name}</td>
                    
                    <td>
                        <a href="@{edit(server.name)}">&{'Edit'}</a>
                        <a href="@{delete(server.name)}">&{'Delete'}</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}

#{else}
    <p>
        No more servers
    </p>
#{/else} 

