#{extends 'main.html' /} #{set title:'Add service' /}

<h3>&{'AddHost'}</h3>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{listhosts()}"><i class="icon-step-backward icon-white"></i>&{'BackToHosts'}</a></li>
		</ul>
	</div>
</div>



<div class="form-horizontal">
	#{form @Bischeck.savehost()}

	<div class="control-group">
		<label class="control-label" for="name">&{'HostName'}</label>
		<div class="controls">
			<input type="text" id="name" name="name" value="${host.name}">
			<span class="error">#{error 'name' /}</span>

		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="desc">&{'Description'}</label>
		<div class="controls">
			<textarea id="desc" name="desc">${host.desc}</textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
		</div>
	</div>
	#{/form}
</div>