#{extends 'main.html' /}
#{set title:'Edit host' /}

<h1>
&{'AddService'}    
</h1>

<h2>
${hostname}
</h2>


<div class="downlink">
<ul>
<li>
<a href="@{edithost(hostname)}">&{'BackToHost'}</a>
</li>
</ul>
</div>


<div class="saveedit">
#{form @Bischeck.saveservice()  }
    
    <label for="name">&{'ServiceName'}</label> 
    <input id="name" type="text" name="name" value="${service.name}" />
    <span class="error">#{error 'name' /}</span>
    <br />
    
    <label for="desc">&{'Description'}</label> 
    <textarea id="desc" name="desc">${service.desc}</textarea>
    <br />
    
    <label for="url">&{'ServiceUrl'}</label> 
    <input  id="url" type="text" name="url" value="${service.url}" />
    <br />
    
    <label for="driver">&{'ServiceDriver'}</label> 
    <input id="driver" type="text" name="driver" value="${service.driver}" />
    <br />
    
    <p>
    &{'ServiceSendServer'}
    </p>
    
    <div class="radio">
    #{if service.sendserver}
       
        <label for="true">True</label><INPUT id="true" type="radio" name="sendserver" value="true" checked> <br />
        <label for="false">False</label><INPUT id="false" type="radio" name="sendserver" value="false">   
    #{/if}
    #{else}
        <label for="true">True</label><INPUT id="true" type="radio" name="sendserver" value="true" > <br />
        <label for="false">False</label><INPUT id="false" type="radio" name="sendserver" value="false" checked>  
    #{/else}
    </div>
    <br />
    <input type="hidden" name="hostname" value="${hostname}">
    
    <input onClick="saved()" class="submitbutton" type="submit" value="&{'Save'}" />
    


#{/form}
</div>

 
