#{extends 'main.html' /}
#{set title:'Edit service' /}

<h3>
&{'EditService'}    
</h3>

<h4>
${host.name} &#8658; ${service.name}
</h4>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{addserviceitem(host.name,service.name)}"><i class="icon-plus icon-white"></i> &{'AddServiceItem'}</a>
			</li>
			<li><a href="@{listserviceschedules(host.name,service.name)}"><i class="icon-list icon-white"></i> &{'ListServiceSchedules'}</a>
			</li>
			<li><a href="@{edithost(host.name)}"><i class="icon-step-backward icon-white"></i> &{'BackToHost'}</a></li>
    		<li>
		</ul>
	</div>
</div>

<div class="form-horizontal">
#{form @Bischeck.saveservice()  }
    
    <div class="control-group">
        <label class="control-label" for="name">&{'ServiceName'}</label>
        <div class="controls">
            <input type="text" id="name" name="name" value="${service.name}">
            <span class="error">#{error 'name' /}</span>

        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="desc">&{'Description'}</label>
        <div class="controls">
            <textarea id="desc" name="desc">${service.desc}</textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="url">&{'ServiceUrl'}</label>
        <div class="controls">
            <textarea id="url" name="url">${service.url}</textarea> 
        </div>
    </div>
    
    
    <div class="control-group">
        <label class="control-label" for="driver">&{'ServiceDriver'}</label>
        <div class="controls">
            <textarea id="driver" name="driver">${service.driver}</textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">&{'ServiceSendServer'}</label>
        <div class="controls">

            <div class="input radio">
                #{if service.sendserver} 
                    <fieldset>
                    
                    <input id="true" type="radio" name="sendserver" value="true" checked>
                    <label  for="true">True</label>
                   
                    <input id="false" type="radio" name="sendserver" value="false">
                     <label for="false">False</label>
                    </fieldset> 
                #{/if}
                #{else}
                     <fieldset>
                    <input id="true" type="radio" name="sendserver" value="true">  
                    <label class="radio" for="true">True</label>
                    
                    <input id="false" type="radio" name="sendserver" value="false" checked>
                    <label class="radio"  for="false">False</label>
                    </fieldset>
                #{/else}
            </div>
        
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="oldname" value="${service.name}">
            <input type="hidden" name="hostname" value="${host.name}">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>

#{/form}
</div>


#{if service.serviceitem}
    #{list service.serviceitem, as:'serviceitem'}
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th class="" style="width: 20%">&{'ServiceItem'}</th>
            <th height="0" style="width: 80%"></th>
        </tr>
        </thead>
        
        <tr>
            <td><strong>&{'ServiceItemName'}</strong></td><td>${serviceitem.name}</td>
        </tr><tr>
            <td><strong>&{'ServiceItemDesc'}</strong></td><td>${serviceitem.desc}</td>
        </tr><tr>
            <td><strong>&{'ServiceItemExecstatment'}</strong></td><td>${serviceitem.execstatement}</td>
        </tr><tr>
            <td><strong>&{'ServiceItemClass'}</strong></td><td>${serviceitem.serviceitemclass}</td>
        </tr><tr>
            <td><strong>&{'ServiceItemThresholdClass'}</strong></td><td>${serviceitem.thresholdclass}</td>
        </tr><tr>
            <td>
            <a href="@{editserviceitem(host.name,service.name,serviceitem.name)}"><i class="icon-pencil"></i>&{'EditServiceItem'}</a>
            <a href="@{deleteserviceitem(host.name,service.name,serviceitem.name)}"><i class="icon-trash"></i>&{'DeleteServiceItem'}</a>
            </td>
        </tr>
    </table>    
    #{/list}
    
#{/if}
#{else}
    Must add serviceitem! </br>
#{/else}

