#{extends 'main.html' /}
#{set title:'Edit serviceitem' /}


<h1>
&{'EditServiceItem'}
</h1>

<h2>
${host.name} &#8658; ${service.name} &#8658; ${serviceitem.name} 
</h2>

<div class="downlink">
<ul>
<li>
<a href="@{editservice(host.name,service.name)}">&{'BackToService'}</a>
</li><li>
<a href="@{edithost(host.name)}">&{'BackToHost'}</a>
</li><li>
<a href="@{listhosts()}">&{'BackToHosts'}</a>
</li>
<ul>
</div>

<div class="saveedit">
#{form @Bischeck.saveserviceitem()}
    
    
    <label for="name">&{'ServiceItemName'}</label> 
    <input id="name" type="text" name="name" value="${serviceitem.name}" />
    <span class="error">#{error 'name' /}</span>
    <br />
    
    <label for="desc">&{'Description'}</label> 
    <textarea id="desc" name="desc">${serviceitem.desc}</textarea>
    <br />
    
    <label for="execstatement">&{'ServiceItemExecstatement'}</label> 
    <textarea id="execstatement" name="execstatement">${serviceitem.execstatement}</textarea>
    <br />
    
    <label for="serviceitemclass">&{'ServiceItemClass'}</label> 
    <select id="serviceitemclass" name="serviceitemclass">
        <option value="${serviceitem.serviceitemclass}" >${serviceitem.serviceitemclass}</option>
        #{list serviceitemclasses, as: 'clazz'}
            <option value="${clazz}">${clazz}</option>
        #{/list}
    </select>
    <br />                    
    
    
        
    <label for="thresholdclass">&{'ServiceItemThresholdclass'}</label> 
    <select id="thresholdclass" name="thresholdclass">
        <option value="${serviceitem.thresholdclass}" >${serviceitem.thresholdclass}</option>
        #{list thresholdclasses, as: 'clazz'}
            <option value="${clazz}">${clazz}</option>
        #{/list}
    </select>
    <br />
    
    
    <input type="hidden" name="oldname" value="${serviceitem.name}">
    <input type="hidden" name="servicename" value="${service.name}">
    <input type="hidden" name="hostname" value="${host.name}">
    
    <input onClick="saved()" class="submitbutton" type="submit" value="&{'Save'}" />
    

#{/form}
</div>
