#{extends 'main.html' /} #{set title:'Edit host' /} 

#{if host}
<h3>&{'EditHost'}</h3>
<h4>${host.name}</h4>
#{/if}

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{addservice(host.name)}"><i class="icon-plus icon-white"></i> &{'AddService'}</a></li>
	</ul>
	</div>
</div>


<div class="form-horizontal">
	#{form @Bischeck.savehost()}

	<div class="control-group">
		<label class="control-label" for="name">&{'HostName'}</label>
		<div class="controls">
			<input type="text" id="name" name="name" value="${host.name}">
			<span class="error">#{error 'name' /}</span>

		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="desc">&{'Description'}</label>
		<div class="controls">
			<textarea id="desc" name="desc">${host.desc}</textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="hidden" name="oldname" value="${host.name}"> <input
				onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
		</div>
	</div>
	#{/form}
</div>


#{if host.service}


	#{list host.service, as:'service'}
    <table class="table table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th style="width: 20%">&{'Service'}</th>
			<th style="width: 80%"></th>

		</tr>
	</thead>
	<tr>
		<td><strong>&{'ServiceName'}</strong></td>
		<td>${service.name}</td>
	</tr>
	<tr>
		<td><strong>&{'ServiceDesc'}</strong></td>
		<td>${service.desc}</td>
	</tr>
	<tr>
		<td><strong>&{'ServiceSchedules'}</strong></td>
		<td>#{list service.schedule, as:'schedule'} ${schedule}</br> #{/list}
		</td>
	</tr>
	<tr>
		#{if ( service.url != null ) }
		<td><strong>&{'ServiceUrl'}</strong></td>
		<td>${service.url}</td> 
		#{/if}
	</tr>
	<tr>
		#{if ( service.driver != null ) }
		<td><strong>&{'ServiceDriver'}</strong></td>
		<td>${service.driver}</td> 
		#{/if}
	</tr>
	<tr>
		<td><a href="@{editservice(host.name,service.name)}"><i class="icon-pencil"></i>&{'EditService'}</a>
			<a href="@{deleteservice(host.name,service.name)}"><i class="icon-trash"></i>&{'DeleteService'}</a>
		</td>
	</tr>
	</table>

	#{/list}
#{/if} #{else} Must add service!
</br>
#{/else}

