#{extends 'main.html' /}
#{set title:'Edit service schedule' /}

<h1>
&{'EditServiceSchedule'}    
</h1>

<h2>
${host.name} &#8658; ${service.name}
</h2>

<div class="downlink">
<ul>
<li>
<a href="@{addserviceschedule(host.name,service.name)}">&{'AddServiceSchedule'}</a>
</li><li>
<a href="@{listserviceschedules(host.name,service.name)}">&{'ListServiceSchedules'}</a>
</li><li>
<a href="@{editservice(host.name,service.name)}">&{'BackToService'}</a>
</li><li>
<a href="@{listhosts()}">&{'BackToHosts'}</a>
</li>
<ul>
</div>

${ifnot proxy.iscron }

<div class="">
#{form @Bischeck.saveIntervalServiceSchedule()}
    
    &{'IntervalSchedule'}: ${schedule}
    <br />
    <label for="interval">&{'Interval'}</label>
    <input id="interval" type="text" name="interval" value="" />
    
    <label for="resolution">&{'Resolution'}</label>
    <select id="resolution" name="resolution">
        <option value=""></option>
        <option value="S">&{'Seconds'}</option>
        <option value="M">&{'Minutes'}</option>
        <option value="H">&{'Hours'}</option>
                            
    </select>
    <br />
    
    <input type="hidden" name="curschedule" value="${schedule}">
    <input type="hidden" name="servicename" value="${service.name}">
    <input type="hidden" name="hostname" value="${host.name}">
    <input onClick="saved()" class="submitbutton" type="submit" value="&{'Save'}" />
    
#{/form}
</div>

${/if}

${ifnot proxy.iscron }

<div class="">
#{form @Bischeck.saveCronServiceSchedule()}
    
    &{'CronSchedule'}: ${schedule}
    <br />
    <label for="interval">&{'Interval'}</label>
    <input id="interval" type="text" name="interval" value="" />
    
    <label for="resolution">&{'Resolution'}</label>
    <select id="resolution" name="resolution">
        <option value=""></option>
        <option value="S">&{'Seconds'}</option>
        <option value="M">&{'Minutes'}</option>
        <option value="H">&{'Hours'}</option>
                            
    </select>
    <br />
    
    <input type="hidden" name="curschedule" value="${schedule}">
    <input type="hidden" name="servicename" value="${service.name}">
    <input type="hidden" name="hostname" value="${host.name}">
    <input onClick="saved()" class="submitbutton" type="submit" value="&{'Save'}" />
    
#{/form}
</div>
${/if}