#{extends 'main.html' /}
#{set title:'Edit service schedule' /}

<h3>
&{'EditCronServiceSchedule'}    
</h3>

<h4>
${host.name} &#8658; ${service.name} 
</h4>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
		    <li>
			<a href="@{listserviceschedules(host.name,service.name)}"><i class="icon-list icon-white"></i> &{'ListServiceSchedules'}</a>
			</li>
			<li><a href="@{editservice(host.name,service.name)}"><i class="icon-step-backward icon-white"></i> &{'BackToService'}</a>
			</li>
			<li><a href="@{listhosts()}"><i class="icon-fast-backward icon-white"></i> &{'BackToHosts'}</a></li>
			<ul>
	</div>
</div>


<div class="form-horizontal">
#{form @Bischeck.saveCronServiceSchedule()}
    
      <div class="control-group">
        <label class="control-label" for="seconds">&{'Seconds'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="seconds" name="seconds" value="${cronschedule.seconds}" >
            #{/if}
            #{else}
            <input type="text" id="seconds" name="seconds" >
            #{/else}
            <span class="error">#{error 'cronseconds' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="minutes">&{'Minutes'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="minutes" name="minutes" value="${cronschedule.minutes}" >
            #{/if}
            #{else}
            <input type="text" id="minutes" name="minutes" >
            #{/else}
            <span class="error">#{error 'cronminutes' /}</span>
        </div>
    </div>
    
    
    <div class="control-group">
        <label class="control-label" for="hours">&{'Hours'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="hours" name="hours" value="${cronschedule.hours}" >
            #{/if}
            #{else}
            <input type="text" id="hours" name="hours" >
            #{/else}
            <span class="error">#{error 'cronhours' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="dayofmonth">&{'DayofMonth'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="dayofmonth" name="dayofmonth" value="${cronschedule.dayofmonth}" >
            #{/if}
            #{else}
            <input type="text" id="dayofmonth" name="dayofmonth" >
            #{/else}
            <span class="error">#{error 'crondayofmonth' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="month">&{'Month'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="month" name="month" value="${cronschedule.month}" >
            #{/if}
            #{else}
            <input type="text" id="month" name="month" >
            #{/else}
            <span class="error">#{error 'cronmonth' /}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dayofweek">&{'DayofWeek'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="dayofweek" name="dayofweek" value="${cronschedule.dayofweek}" >
            #{/if}
            #{else}
            <input type="text" id="dayofweek" name="dayofweek" >
            #{/else}
            <span class="error">#{error 'crondayofweek' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="year">&{'Year'}</label>
        <div class="controls">
            #{if cronschedule}
            <input type="text" id="year" name="year" value="${cronschedule.year}" >
            #{/if}
            #{else}
            <input type="text" id="year" name="year" >
            #{/else}
            <span class="error">#{error 'cronyear' /}</span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="curschedule" value="${schedule}">
            <input type="hidden" name="servicename" value="${service.name}">
            <input type="hidden" name="hostname" value="${host.name}">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>
    
#{/form}
</div>

