#{extends 'main.html' /}
#{set title:'Edit serviceitem' /}


<h3>
&{'EditServiceItem'}
</h3>

<h4>
${host.name} &#8658; ${service.name} &#8658; ${serviceitem.name} 
</h4>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{editservice(host.name,service.name)}"><i class="icon-step-backward icon-white"></i> &{'BackToService'}</a>
			</li>
			<li><a href="@{edithost(host.name)}"><i class="icon-step-backward icon-white"></i> &{'BackToHost'}</a></li>
			<ul>
	</div>
</div>

<div class="form-horizontal">
#{form @Bischeck.saveserviceitem()}
    
    <div class="control-group">
        <label class="control-label" for="name">&{'ServiceItemName'}</label>
        <div class="controls">
            <input type="text" id="name" name="name" value="${serviceitem.name}">
            <span class="error">#{error 'name' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="desc">&{'Description'}</label>
        <div class="controls">
            <textarea id="desc" name="desc">${serviceitem.desc}</textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="execstatement">&{'ServiceItemExecstatement'}</label>
        <div class="controls">
            <textarea id="execstatement" name="execstatement">${serviceitem.execstatement}</textarea>
        </div>
    </div>

	<div class="control-group">
		<label class="control-label" for="serviceitemclass">&{'ServiceItemClass'}</label>
		<div class="controls">
			<select id="serviceitemclass" name="serviceitemclass">
				<option value="${serviceitem.serviceitemclass}">${serviceitem.serviceitemclass}</option>
				#{list serviceitemclasses, as: 'clazz'}
				<option value="${clazz}">${clazz}</option> 
				#{/list}
			</select>
		</div>
	</div>


    <div class="control-group">
        <label class="control-label" for="thresholdclass">&{'ServiceItemThresholdclass'}</label>
        <div class="controls">
            <select id="thresholdclass" name="thresholdclass">
                <option value="${serviceitem.thresholdclass}">${serviceitem.thresholdclass}</option>
                #{list thresholdclasses, as: 'clazz'}
                <option value="${clazz}">${clazz}</option> 
                #{/list}
            </select>
        </div>
    </div>

    
     <div class="control-group">
        <div class="controls">
            <input type="hidden" name="oldname" value="${serviceitem.name}">
            <input type="hidden" name="servicename" value="${service.name}">
            <input type="hidden" name="hostname" value="${host.name}">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>
    
    

#{/form}
</div>
