#{extends 'main.html' /}
#{set title: 'List service schedules' /}

<h3>
&{'ListServiceSchedules'}    
</h3>

<h4>
${host.name} &#8658; ${service.name}
</h4>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{editCronserviceschedule(host.name,service.name)}"><i class="icon-plus icon-white"></i> &{'AddCronServiceSchedule'}</a>
			</li>
			<li><a
				href="@{editIntervalserviceschedule(host.name,service.name)}"><i class="icon-plus icon-white"></i> &{'AddIntervalServiceSchedule'}</a>
			</li>
			<li><a
				href="@{editRunAfterserviceschedule(host.name,service.name)}"><i class="icon-plus icon-white"></i> &{'AddRunAfterServiceSchedule'}</a>
			</li>
			<li><a href="@{editservice(host.name,service.name)}"><i class="icon-step-backward icon-white"></i> &{'BackToService'}</a>
			</li>
			<ul>
	</div>
</div>

#{if service.schedule}
    <table class="table">
        <thead>
            <tr>
                <th>&{'Schedule'}</th>
                <th>&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list service.schedule.sort(), as:'schedule'}
            
                <tr>
                    <td>${schedule}</td>
                    <td>
                        <a href="@{editserviceschedule(host.name,service.name,schedule)}">&{'Edit'}</a>
                        <a href="@{deleteserviceschedule(host.name,service.name,schedule)}">&{'Delete'}</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}

#{else}
    <p>
        Must add service schedule!
    </p>
#{/else} 

