#{extends 'main.html' /} #{set title:'Add property' /}

<h3>&{'AddProperty'}</h3>


<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="@{Properties.list()}"><i class="icon-list icon-white"></i> &{'ListProperties'}</a></li>
			<ul>
	</div>
</div>

<div class="form-inline">
	#{form @Properties.save() } 
	<input type="text" class="input-small" name="key" placeholder="&{'Key'}"> 
	<input type="text" class="input-small" name="value" placeholder="&{'Value'}"> 
	<input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
	#{/form}
</div>