#{extends 'main.html' /}
#{set title:'Add version' /}
<h3>
&{'AddVersion'}
</h3>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav"> 
            <li>&nbsp;</li>
        <ul>
    </div>
</div>

<div class="form-horizontal">
#{form @Version.save()}
    <div class="control-group">
        <label class="control-label" for="comment">&{'Comment'}</label>
        <div class="controls">
            <textarea id="comment" name="comment"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="username" value="${username}">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>
#{/form}
</div>
