#{extends 'main.html' /}
#{set title: 'List versions' /}
<h3>&{'ListVersions'}</h3>

#{if !started}
<h4>&{'BischeckNotStarted'}</h4>
#{/if}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav"> 
            <li> &nbsp;</li>    
        <ul>
    </div>
</div>
#{if versions}
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%" >&{'Active'}</th>
                <th style="width: 15%">&{'Date'}</th>
                <th style="width: 10%">&{'Username'}</th>
                <th style="width: 45%" >&{'Comment'}</th>
                <th style="width: 15%">&{'Action'}</th>
            </tr>
        </thead>
        <tbody>
            #{list versions, as:'version'}
                <tr>
                    <td>
                        <center>
                        #{if version.current == true}
                        <i class=" icon-play-circle"></i>
                        #{/if}
                        </center>
                    </td>
                    <td>${version.created}</td>
                    <td>${version.username}</td>
                    <td>${version.comment}</td>
                    <td>
                        <a href="@{select(version.directory)}">&{'Select'}</a>
                        
                        #{if version.current == false}
                            <a href="@{delete(version.directory)}">&{'Delete'}</a>
                            #{if user.isAdmin || user.isDeploy }
                                <a href="@{deploy(version.directory)}">&{'Deploy'}</a>
                            #{/if}
                            
                        #{/if}
                        
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/if}

#{else}
    <p>
        No version exist<br />
    </p>
#{/else}     
