#{extends 'main.html' /}
#{set title: 'Bischeck status' /}

<h1>
Information of process bischeck 
</h1>


<div class="downlink">
<ul>
#{if user.isAdmin }
<li>
 <a href="@{restartBischeckd()}">&{'Restart'}</a>
</li>
<li>
 <a href="@{startBischeckd()}">&{'Start'}</a>
</li>
<li>
 <a href="@{stopBischeckd()}">&{'Stop'}</a>
</li>
#{/if}
#{else}
<li>
  &nbsp;
</li>
#{/else}
<ul>
</div>

#{if bisprop.get('bischeckversion') == "0.3.3"}
<table class="listtable">
  <tr>
    <td>&{'BischeckVersion'}</td><td>${bisprop.get('bischeckversion')}</td>
  </tr>
  <tr>
    <td>&{'BischeckPid'}</td><td>${bisprop.get('pid')}</td>
  </tr>
  <tr>
    <td>&{'BischeckUptime'}</td><td>${bisprop.get('uptime')}</td>
  </tr>
</table>
#{/if}
#{else}
<table class="listtable">
  <tr>
    <td>&{'BischeckVersion'}</td><td>${bisprop.get('bischeckversion')}</td>
  </tr>
  <tr>
    <td>&{'BischeckPid'}</td><td>${bisprop.get('pid')}</td>
  </tr>
  <tr>
    <td>&{'BischeckHome'}</td><td>${bisprop.get('bishome')}</td>
  </tr>
  <tr>
    <td>&{'BischeckConfigDir'}</td><td>${bisprop.get('xmlconfigdir')}</td>
  </tr>
  
  <tr>
    <td>&{'BischeckUptime'}</td><td>${bisprop.get('uptime')}</td>
  </tr>
  <tr>
    <td>&{'BischeckReloadTime'}</td><td>${bisprop.get('reloadtime')}</td>
  </tr>
  <tr>
    <td>&{'BischeckReloadCount'}</td><td>${bisprop.get('reloadcount')}</td>
  </tr>
</table>  
#{/else}

