#{extends 'main.html' /}
#{set title:'Edit user' /}





<h3>
&{'EditUser'}    
</h3>
   
<h4>
${user.username} 
</h4>

<dl class="dl-horizontal">
	<dt><u>&{'Grants'}</u></dt>
    <dd><u>${'Enabled'}</u></dd>
	<dt>&{'IsDeploy'}</dt>
	<dd>${user.isDeploy}</dd>
	<dt>&{'IsAdmin'}</dt>
	<dd>${user.isAdmin}</dd>
</dl>

<div class="form-horizontal">
    #{form @Application.saveUser(), NAME:"password_form" }


    <div class="control-group">
        <label class="control-label" for="email">&{'Email'}</label>
        <div class="controls">
            <input id="email" type="text" name="email" value="${user.email}" />
        </div>
    </div>

    
    <div class="control-group">
        <label class="control-label" for="pasword1">&{'Password'}</label>
        <div class="controls">
            <input id="password1" type="password" name="password1" value="${user.password}" onKeyUp="verify.check()" />
            <span class="error">#{error 'password' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="pasword2">&{'RePassword'}</label>
        <div class="controls">
            <input id="password2" type="password" name="password2" value="${user.password}" onKeyUp="verify.check()" />
            <span class="error">#{error 'password' /}</span>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="username" value="${user.username}">
            <input onClick="saved()" class="btn" type="submit" value="&{'Save'}" />
        </div>
    </div>    
    <div class="control-group">
        <div class="controls">
    
        <div id="passwordMatch"></div>
        </div>
    </div>    
    
#{/form}
</div>

<script type="text/javascript">
<!--

verify = new verifynotify();
verify.field1 = document.password_form.password1;
verify.field2 = document.password_form.password2;
verify.result_id = "passwordMatch";
verify.match_html = "<SPAN STYLE=\"color:blue\">&{'PasswordMatch'}<\/SPAN>";
verify.nomatch_html = "<SPAN STYLE=\"color:red\">&{'PasswordDoNotMatch'}<\/SPAN>";

// Update the result message
verify.check();

// -->
</script>
